@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  /* IE9 */
  src: url('../fonts/iconfont.eot') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconguanyu:before {
  content: "\e70c";
}

.iconyijianfankui:before {
  content: "\e70d";
}

.iconbianji:before {
  content: "\e70e";
}

.icondianzan-weixuanzhong:before {
  content: "\e70f";
}

.icondianzan-xuanzhong:before {
  content: "\e710";
}

.iconqueding:before {
  content: "\e711";
}

.icongerenzhongxin:before {
  content: "\e712";
}

.iconwodedingdan:before {
  content: "\e713";
}

.icongengduo:before {
  content: "\e714";
}

.iconkefuzixun:before {
  content: "\e715";
}

.iconxingzhuang:before {
  content: "\e716";
}

.iconmima:before {
  content: "\e717";
}

.iconjifenshangcheng:before {
  content: "\e718";
}

.iconchakan:before {
  content: "\e719";
}

.iconyonghu:before {
  content: "\e71a";
}

.iconwodekehu:before {
  content: "\e71b";
}

.iconpaizhao:before {
  content: "\e71c";
}