.personal {
    font-size: .28rem;

    .blue::before {
        background: linear-gradient(to bottom right, #008AFF, #49D1FE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .orange::before {
        background: linear-gradient(to bottom right, #FFD382, #FF7B00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .user-img-container {
        position: relative;
        background: linear-gradient(to bottom right, #2f3ef8, #8eb9ff);

        .am-image-picker {
            width: 100%;
            height: 20vh;

            .am-image-picker-list {
                position: relative;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;

                .am-flexbox.am-flexbox-align-center {
                    margin: 0;
                    width: 100%;
                    height: 100%;

                    &:last-child {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 50vw;
                        height: .6rem;
                        transform: translate(-50%, -50%);
                        background-color: transparent;

                        .am-image-picker-upload-btn {
                            background-color: transparent;
                            border: none;

                            &:after {
                                width: auto;
                                height: auto;
                                content: "点击替换背景";
                                background-color: transparent;
                                color: #fff;
                            }

                            &:before {
                                width: auto;
                                height: 0;
                                // content: "\e703";
                                color: #fff;
                            }
                        }
                    }

                    .am-flexbox-item {
                        width: 100%;
                        height: 100%;
                        margin: 0;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }

    .user-info-container {
        position: relative;
        padding-top: .5rem;
        text-align: center;
        background-color: #fff;
        overflow: visible;

        .user-logo {
            position: absolute;
            top: -50%;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 1rem;
            height: 1rem;
            border-radius: .5rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-name {}

        .user-company {
            color: #888;
        }
    }

    .am-tabs {
        height: auto;

        .am-tabs-tab-bar-wrap {
            padding: 0 .3rem;
            background-color: #fff;
        }

        .user-tab-item {
            padding: .2rem .3rem;
            // height: 2rem;
            background-color: #fff;

            .user-sum-item {
                display: flex;
                align-items: center;
                justify-content: center;

                .sum-item {
                    flex: 50%;
                    padding: .2rem 0;
                    font-size: 14px;
                    text-align: center;

                    .sum-info {
                        font-size: 18px;
                    }

                    .sum-title {
                        margin-top: .12rem;
                        color: #888;
                    }
                }
            }
        }
    }
}

.user {
    .am-list-body {
        background: transparent;
    }

    .am-image-picker-list {
        display: flex;
        margin-bottom: 0;
        padding: 0;

        .am-flexbox {
            width: 1rem;
            height: 1rem;
        }

        .am-image-picker-item .am-image-picker-item-content {
            border-radius: 50%;
        }
    }

    .tip-btn {
        font-size: .24rem;
        color: #888;
    }
}