.personal {
    font-size: .28rem;

    .blue::before {
        background: linear-gradient(to bottom right, #008AFF, #49D1FE);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .orange::before {
        background: linear-gradient(to bottom right, #FFD382, #FF7B00);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .user-img-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.8rem;
        background-image: url('../../assets/img/bg.png');
        background-repeat: no-repeat;
        background-size: cover;

        .upload-user-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 101;
        }

        .user-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .tip {
            color: #ffffff;
            font-size: .3rem;
            z-index: 100;
        }
    }

    .user-info-container {
        position: relative;
        text-align: center;
        background-color: #fff;

        .user-logo {
            position: absolute;
            top: 0;
            left: 50%;
            z-index: 101;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: 1rem;
            border-radius: .5rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-name {
            position: relative;
            display: inline-block;
            margin-top: .3rem;
            color: #222222;
            font-size: .3rem;
            font-weight: 500;

            &:after {
                content: "\E70E";
                position: absolute;
                top: 25%;
                right: -.3rem;
                display: inline-block;
                font-family: "iconfont" !important;
                font-size: .2rem;
                font-style: normal;
                color: #2B8CFF;
            }
        }

        .user-company {
            color: #888;
        }
    }

    .am-tabs {
        height: auto;

        .am-tabs-tab-bar-wrap {
            background-color: #fff;
        }

        .user-tab-item {
            padding: .2rem .3rem;
            // height: 2rem;
            background-color: #fff;

            .user-sum-item {
                display: flex;
                align-items: center;
                justify-content: center;

                .sum-item {
                    flex: 50%;
                    padding: .2rem 0;
                    font-size: 14px;
                    text-align: center;

                    .sum-info {
                        font-size: 18px;
                    }

                    .sum-title {
                        margin-top: .12rem;
                        color: #888;
                    }
                }
            }
        }
    }

    .my-list {

        .am-list-body {
            &:before {
                display: none;
            }

            &::after {
                content: '';
                position: absolute;
                background-color: #ddd;
                display: block;
                z-index: 1;
                top: auto;
                right: 0;
                bottom: 0;
                left: .3rem;
                height: 1px;
                width: auto !important;
                -webkit-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-transform: scaleY(0.5);
                -ms-transform: scaleY(0.5);
                transform: scaleY(0.5);
            }

            .am-list-item {
                height: .9rem;
                padding-left: .3rem;

                &.am-textarea-item {
                    textarea {
                        height: 2.4rem;
                    }
                }
            }
        }
    }
}

.user {
    .am-list-body {
        background: transparent;
    }

    .item-img-container {
        position: relative;
        width: .8rem;
        height: .8rem;
        margin-left: calc(~'100% - .8rem');
        border-radius: .4rem;
        overflow: hidden;

        .user-bg {
            width: 100%;
            height: 100%;
        }

        .upload-user-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 101;
        }
    }

    .tip-btn {
        font-size: .24rem;
        color: #888;
    }
}