.personal {
    font-size: .28rem;

    .user-info-container {
        background: linear-gradient(to bottom right, #2f3ef8, #8eb9ff);

        .user-info-detail {
            color: #fff;

            .user-logo {
                flex: 1;
                margin-right: .2rem;
            }

            .user-name {
                flex: 4;

                >div:first-child {
                    display: flex;
                    align-items: center;
                    margin-bottom: .12rem;
                }
            }

            .user-btn {
                width: auto;
                padding: .12rem .2rem;
                border-radius: 10px;
                background-color: #8eb9ff;
                opacity: .8; // background-color: rgba(142, ​185, ​255, 0.7);
            }

            .am-flexbox-item {
                text-align: center;

                >div {
                    &:first-child {
                        margin-bottom: .1rem;
                    }
                }
            }
        }
    }

    .user-gird-container {
        display: flex;
        justify-content: space-around;
        padding: .3rem;

        .user-gird {
            position: relative;
            width: 40vw;
            height: 40vw;

            img {
                width: 100%;
                height: 100%;
            }

            .user-gird-text {
                position: absolute;
                bottom: .3rem;
                left: 50%;
                transform: translateX(-50%);
                font-size: .36rem;
            }
        }
    }
}

.user {
    .am-list-body {
        background: transparent;
    }

    .am-image-picker-list {
        display: flex;
        margin-bottom: 0;
        padding: 0;

        .am-flexbox {
            width: 1rem;
            height: 1rem;
        }

        .am-image-picker-item .am-image-picker-item-content {
            border-radius: 50%;
        }
    }
}