.login {
    background-color: #fff;

    .login-logo {
        display: flex;
        justify-content: center;
        padding: .81rem 0;

        .login-logo-container {
            display: block;
            width: 1.6rem;
            height: 1.6rem;
            overflow: hidden;
            border-radius: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .am-list {
        .am-list-body {
            margin: 0 .3rem;
            background: transparent;

            &::before {
                height: 0;
            }

            .am-list-item {
                height: 1.08rem;
                padding: .53rem 0 .13rem 0;
                background-color: transparent;

                &::after {
                    content: '';
                    position: absolute;
                    background-color: #ddd;
                    display: block;
                    z-index: 1;
                    top: auto;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    height: 1px;
                    width: auto !important;
                    -webkit-transform-origin: 50% 100%;
                    -ms-transform-origin: 50% 100%;
                    transform-origin: 50% 100%;
                    -webkit-transform: scaleY(0.5);
                    -ms-transform: scaleY(0.5);
                    transform: scaleY(0.5);
                }

                .am-list-line {
                    &::after {
                        height: 0
                    }
                }

                .am-input-label {
                    margin: 0 .2rem;
                    width: .32rem !important;
                    color: #888;
                }
            }
        }
    }

    .tip-btn {
        width: .28rem;
        font-size: .28rem;
        color: #888;
    }

    .tip {
        margin: .4rem .3rem;
        height: .4rem;
        font-size: .28rem;
        color: #2B8CFF;
    }

    .text-right {
        text-align: right;
    }
}

.public {
    overflow: hidden;

    .am-list-body {
        background: transparent;

        &::after {
            left: .3rem !important;
            width: auto !important;
        }

        .am-list-item {
            height: .9rem;

            .am-input-extra {
                overflow: hidden;

                i {
                    margin-right: .1rem;
                    font-size: 14px;
                }
            }
        }
    }

    .am-button.inline-button {
        margin-top: 1rem
    }
}

.blue {
    color: #2B8CFF;
}