.home {
    font-size: .28rem;

    .user-info-container {
        background: linear-gradient(to right, #402bf5, #6565ff);

        .user-info-detail {
            color: #fff;

            .am-flexbox-item {
                text-align: center;

                >div {
                    &:first-child {
                        margin-bottom: .1rem;
                    }
                }
            }
        }
    }
}