.home {
    font-size: .28rem;

    .user-info-container {
        padding: .4rem 0;
        background: linear-gradient(to bottom right, #2f3ef8, #8eb9ff);

        .user-info-detail {
            align-items: center;
            color: #fff;

            .user-logo {
                // flex: 1;
                margin-right: .2rem;
            }

            .user-name {
                flex: 4;
            }

            .user-operation {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .user-btn {

                    &:first-child {
                        margin-bottom: .2rem;
                    }

                    width: auto;
                    padding: .12rem .2rem;
                    text-align: center;
                    border-radius: 10px;
                    background-color: #8eb9ff;
                    opacity: .8; // background-color: rgba(142, ​185, ​255, 0.7);
                }

            }



            .am-flexbox-item {
                text-align: center;

                >div {
                    &:first-child {
                        margin-bottom: .1rem;
                    }
                }
            }
        }
    }

    .user-sum-list {
        padding: 0;
    }

    .list-item {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        padding: .2rem 0 .2rem .3rem;
        background-color: #fff;

        &:not(.user-sum-item)::after {
            content: '';
            position: absolute;
            background-color: #ddd;
            display: block;
            z-index: 1;
            top: auto;
            right: auto;
            bottom: 0;
            left: -11px;
            width: 100%;
            height: 1PX;
            -webkit-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
            -webkit-transform: scaleY(0.5);
            -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
        }
    }

    .sort-item-left {
        display: flex;
        align-items: center;
        flex: 3;
        margin-left: .2rem;

        .item-sort-num {
            margin-right: .12rem;
            width: .5rem;
            font-size: .32rem;
            text-align: center;
        }

        .item-src {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .item-info {
            margin-left: 5px;

            >div {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:first-child {
                    margin-bottom: .12rem;
                }
            }
        }
    }

    .sort-item-center {
        flex: 1;
        text-align: right;
        margin-right: .1rem;

        .item-fee-num {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: .4rem;
            color: #2B8BFF;
            margin-right: .1rem;
        }
    }

    .sort-item-right {
        display: flex;
        align-items: center;
        flex: 1;

        .item-like-num {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            div {
                font-size: .28rem;
            }
        }
    }
}

.am-modal-mask {
    background-color: rgba(0, 0, 0, 0.2)
}

.home-modal {
    width: 80vw;

    .am-modal-content {
        overflow: visible;
    }

    .condition-container {
        padding: 0;

        .condition-title {
            padding: .3rem 0 .12rem;
            font-size: 16px;
            text-align: left;
            color: #000;
        }

        .condition-item {
            display: flex;
            justify-content: flex-start;

            .am-button {
                flex: 1/ 3;
                margin-right: .1rem;
                padding: .06rem 0;
                height: auto;
                font-size: 14px;

                &:last-child {
                    margin: 0;
                }
            }
        }

        .condition-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #2B8BFF;
        }

        .condition-other-btn {
            position: absolute;
            z-index: 999;
            bottom: -0.8rem;
            left: 0;
            width: 100%;
            display: flex;
            background-color: transparent;

            .am-button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
            }

            .green-blue-btn {
                color: #2B8BFF;
                border: 1px solid #2B8BFF
            }

            .green-ghost-btn {
                color: #00C1B1;
                border: 1px solid #00C1B1;
            }
        }
    }
}